<!DOCTYPE html>

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/html">

    <head>
        <title>Rango</title>
    </head>

    <body>
        <a href="/rango/login/">Login</a>
        <a href="/rango/register/">Register Here</a>
        {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
        <h1>Rango says... hello world!</h1>
        {% endif %}
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong> There are no categories present. </strong>
        {% endif %}
        <h1>Top 5 most viewed pages</h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}: {{ page.views }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong> There is no page! </strong>
        {% endif %}
        <a href="/rango/add_category/">Add a New category</a><br />
        <a href="/rango/about/">About</a>
    </body>
</html>