<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
    </head>

    <body>
        <p> visits: {{ visits }} </p>
        <div>
            {% block  body_block %}{% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'index' %}">Home</a></li>
            {%  if user.is_authenticated %}
                <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
                <li><a href="{% url 'password_change' %}"> Change password </a></li>
                <li><a href="{% url 'auth_logout' %}? next=/rango/">Logout</a></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Register Here</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
            </ul>
        </div>
    </body>
</html>